.agent-bg {
  background-image: url(../../../assets/image/home/agentCoverPhoto.png);
  background-repeat: no-repeat;
  background-size: cover;
  
}

/* .agent-child-bg{
    opacity: 0.5;
  background: var(
    --old-logo-color,
    linear-gradient(92deg, #0e55b1 0%, #169fc3 100%)
  );
} */

.rana{
  opacity: 1;
}