.defaultTextColor {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(
    90deg,
    rgba(40, 125, 250, 1) 0%,
    rgba(14, 85, 177, 1) 0%,
    #169fc3 100%
  );
}

.defaultColor {
  background: rgb(40, 125, 250);
  background: linear-gradient(
    90deg,
    #287dfa 0%,
    rgba(14, 85, 177, 1) 0%,
    #169fc3 100%
  );
}

.hotelBg {
  transition: 1s;
  background: linear-gradient(92deg, #0e55b1 0%, #169fc3 100%);
  border: 1px solid #0e55b100;
}

.hotelBg:hover {
  transition: 1s;
  background: white;
  color: black;
  border: 1px solid #1665c8;
  cursor: pointer;
}

.hotelCardBg {
  background: linear-gradient(92deg, #0e55b1 0%, #169fc3 100%);
  border-radius: 20px;
  border: 1px solid #c8481600;
  transition: 0.5s all;
}

.hotelCardBg:hover {
  background: white;
  color: black;
  border: 1px solid #1665c8;
  border-radius: 20px;
  transition-duration: 1s;
}

.wishlistBg {
  background: linear-gradient(92deg, #0e55b1 0%, #169fc3 100%);
  border-radius: 20px;
  border: 1px solid #c8481600;
  transition: 0.5s all;
}
/* Optional custom styles for the DatePicker */
.react-datepicker {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.react-datepicker__input-container input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.react-datepicker__day--selected {
  background-color: #007bff;
  color: #fff;
}
/* custom-datepicker.css */
.custom-datepicker {
  /* Add your custom styles for the DatePicker component here */
  /* For example: */
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0.5rem;
  font-size: 16px;
  color: #333;
}
.example-custom-input {
  background: url("../../assets/image/hotel/calender-black.png.svg") no-repeat
    right;
  background-size: 20px;
  width: 240px;
  height: 24px;
}
.react-datepicker__input-container input {
  padding: 0.7rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}
