.hero-p {
  color: var(--black, #2e2e2e);
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 86px; /* 119.444% */
  letter-spacing: -1.44px;
}

.adventure {
  background: var(
    --old-logo-color,
    linear-gradient(92deg, #0e55b1 0%, #169fc3 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 86px;
  letter-spacing: -1.3px;
}
