@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Poppins:ital@1&display=swap');

.pop-font{
  font-family: Poppins;
}
.search-now-button-bg {
  background: linear-gradient(92deg, #0e55b1 0%, #169fc3 100%);
}

.whyUsCard {
  background: linear-gradient(92deg, #0e55b1 0%, #169fc3 100%);

  /* Shadow */
  box-shadow: -5px 10px 20px 0px rgba(0, 0, 0, 0.04);
}

.whyUsCard:hover h1 {
  color: #141416;
}

.whyUsCard:hover p {
  color: #777e90;
}

.whyUsCard:hover a {
  color: #1665c8;
  cursor: pointer;
}

.whyUsCard:hover {
  border: 1.18px solid #1665c8;
  background: transparent;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
}

.tour-bg {
  background: linear-gradient(92deg, #0e55b1 0%, #169fc3 100%);
  box-shadow: -5px 10px 20px 0px rgba(0, 0, 0, 0.04);
}

.react-datepicker-wrapper .react-datepicker__input-container input {
  border: none;
  padding: 0;
}
.blue-border-with-radius {
  border-radius: 16px;
  border: 1px solid rgb(14, 85, 177);
}

.gray-divider {
  border: 1px solid #e1e8ee;
}
.gray-border {
  border-radius: 5px;
  border: 1px solid #e6e8ec;
}
.text7F8FA4 {
  color: #7f8fa4;
}

/* Tours Search Result List Item css */
.search-result-item-p {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  display: -webkit-box;
  max-width: 325px;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* Tour Details Design */
.tour-detail-information p{
  font-family: Poppins;
}
.tour-detail-header {
  font-family: DM Sans;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 125% */
  letter-spacing: -0.32px;
}
